:root {
  --footer-height: 20px;
  --color-dark: #222;
  --color-light: #bbb;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

body {
  width: 100%;
  background-color: var(--color-dark);
  overflow: hidden;
}

textarea {
  resize: none;
  margin: 0;
  padding-top: 0.5em;
  padding-left: 0.5em;
  border: 1px solid var(--color-dark);
  height: 100vh;
  width: 100%;
  background-color: var(--color-dark);
  color: var(--color-light);
  scrollbar-color: var(--color-light) var(--color-dark);
  scrollbar-width: thin;
  font-size: 1.2em;
}

textarea:focus {
  border: none;
  outline: none;
}
