:root {
  --footer-height: 20px;
  --color-darker: #222;
  --color-dark: #333;
  --color-light: #bbb;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--color-dark);
}

main {
  flex: 1 0 auto;
  height: calc(100vh - --footer-height);
}

textarea {
  resize: none;
  margin: 0;
  padding: 0;
  border: 1px solid --color-dark;
}

#mainTextArea {
  height: 95vh;
  width: 100%;
  background-color: var(--color-dark);
  color: var(--color-light);
}

footer {
  height: var(--footer-height);
  padding: 0 5px;
  flex-shrink: 0;
  border-top: 1px solid var(--color-light);
  background-color: var(--color-darker);
  color: var(--color-light);
}
