:root {
  --form-height: 1.5em;
  --normal-spacing: 0.5em;
  --color-dark: #222;
  --color-medium: #555;
  --color-light: #bbb;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  padding: var(--normal-spacing);
  overflow: hidden;
  background-color: var(--color-dark);
  color: var(--color-light);
  font-family: "Courier New", Courier, monospace;
}

button {
  background-color: var(--color-dark);
  color: var(--color-light);
  font-family: inherit;
  border: 1px solid var(--color-light);
}

#controls {
  height: var(--form-height);
  margin-bottom: var(--normal-spacing);
  font-family: inherit;
  display: flex;
  align-items: center;
}

#controls button {
  margin-left: var(--normal-spacing);
}

#pathInput {
  background-color: var(--color-dark);
  color: var(--color-light);
  border: 1px solid var(--color-light);
  font-family: inherit;
}

#pathInput:focus {
  outline: none;
}

#mainTextArea {
  resize: none;
  margin: 0;
  border: 1px solid var(--color-medium);
  height: calc(100vh - var(--form-height) - 3 * var(--normal-spacing));
  width: 100%;
  background-color: var(--color-dark);
  color: var(--color-light);
  scrollbar-color: var(--color-light) var(--color-dark);
  scrollbar-width: thin;
  font-size: 1.2em;
}

#mainTextArea:focus {
  outline: none;
}
